#page {
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 0px solid #C9E0ED;
}

.sectionHeader
{
    padding: 10px;
    font-size: 1.75em;
    font-weight: bold;
    color: #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #0d1b72; /* Old browsers */
    background: -moz-linear-gradient(top,  #0d1b72 0%, #207cca 65%, #2989d8 71%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d1b72), color-stop(65%,#207cca), color-stop(71%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1b72', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.sectionSubHeader
{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    font-size: 1.50em;
    font-weight: bold;
    color: #0d1b72;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #C9E0ED;
    background: #ffffff; /* Old browsers */
}

.sectionSubHeaderContent
{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    font-size: 1.0em;
    font-weight: normal;
    color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #ffffff; /* Old browsers */
}

#content
{
    padding: 0px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 1.5em;
}

/* Pure CSS Calendar Icon */

.mycalendar {
    font-family: Helvetica, Arial;
    width: 56px; font-size: 1.0em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #05587e;
    -webkit-box-shadow: 0 0 5px #05587e;
    box-shadow: 0 0 5px #05587e;
}

.mycalendar > span {
    display: block;
}

.mycalendar > .month {
    text-align: center;
    padding: 2px 5px 2px 0;
    font-size: 1.25em;
    color: #fff;
    font-weight: bold;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    text-shadow: 0 1px #000;
    background: #0d1b72; /* Old browsers */
    background: -moz-linear-gradient(top,  #0d1b72 0%, #207cca 65%, #2989d8 71%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d1b72), color-stop(65%,#207cca), color-stop(71%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1b72', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.mycalendar > .day {
    text-align: center;
    font-weight: bold;
    font-size: 2.25em;
    line-height: 1.0;
    background: #fff;
    -webkit-border-bottom-left-radius:  5px;
    -moz-border-radius-bottomleft:      5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright:     5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#405b72), to(#e6e6e6), color-stop(.08,#f9f9f9));
    background: -moz-linear-gradient(top, #f9f9f9, #e6e6e6);
}

/* Pure CSS Calendar Icon */

.mycalendar-large {
    margin:.25em 10px 10px 0;
    padding-top:5px;
    float:left;
    width:80px;
    background:#ededef;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
    background: -moz-linear-gradient(top,  #ededef,  #ccc);
    font:bold 30px/60px Arial Black, Arial, Helvetica, sans-serif;
    text-align:center;
    color:#000;
    text-shadow:#fff 0 1px 0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    position:relative;
    -moz-box-shadow:0 2px 2px #888;
    -webkit-box-shadow:0 2px 2px #888;
    box-shadow:0 2px 2px #888;
}

.mycalendar-large em {
    display:block;
    font:normal bold 11px/30px Arial, Helvetica, sans-serif;
    color:#fff;
    text-shadow:#00365a 0 -1px 0;
    background:#04599a;
    background:-webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
    background:-moz-linear-gradient(top,  #04599a,  #00365a);
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top:1px solid #00365a;
}

.mycalendar-large:before, .mycalendar-large:after {
    content:'';
    float:left;
    position:absolute;
    top:5px;	
    width:8px;
    height:8px;
    background:#111;
    z-index:1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:0 1px 1px #fff;
    -webkit-box-shadow:0 1px 1px #fff;
    box-shadow:0 1px 1px #fff;
}

.mycalendar-large:before {
    left:11px;
}

.mycalendar-large:after {
    right:11px;
}

.mycalendar-large em:before, .mycalendar-large em:after {
    content:'';
    float:left;
    position:absolute;
    top:-5px;	
    width:4px;
    height:14px;
    background:#dadada;
    background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
    background:-moz-linear-gradient(top,  #f1f1f1,  #aaa);
    z-index:2;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.mycalendar-large em:before {
    left:13px;
}

.mycalendar-large em:after {
    right:13px;
}

/* Pure CSS Calendar Icon */

.mycalendar-small {
    margin:.25em 10px 10px 0;
    padding-top:5px;
    float:left;
    width:50px;
    background:#ededef;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
    background: -moz-linear-gradient(top,  #ededef,  #ccc);
    font:bold 20px/40px Arial Black, Arial, Helvetica, sans-serif;
    text-align:center;
    color:#000;
    text-shadow:#fff 0 1px 0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    position:relative;
    -moz-box-shadow:0 2px 2px #888;
    -webkit-box-shadow:0 2px 2px #888;
    box-shadow:0 2px 2px #888;
}

.mycalendar-small em {
    display:block;
    font:normal bold 11px/20px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color:#fff;
    text-shadow:#00365a 0 -1px 0;
    background:#04599a;
    background:-webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
    background:-moz-linear-gradient(top,  #04599a,  #00365a);
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top:1px solid #00365a;
}

.mycalendar-small:before, .mycalendar-small:after {
    content:'';
    float:left;
    position:absolute;
    top:4px;
    width:6px;
    height:6px;
    background:#111;
    z-index:1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:0 1px 1px #fff;
    -webkit-box-shadow:0 1px 1px #fff;
    box-shadow:0 1px 1px #fff;
}
        
.mycalendar-small:before {
    left:7px;
}

.mycalendar-small:after {
    right:7px;
}

.mycalendar-small em:before, .mycalendar-small em:after {
    content:'';
    float:left;
    position:absolute;
    top:-3px;
    width:2px;
    height:10px;
    background:#dadada;
    background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
    background:-moz-linear-gradient(top,  #f1f1f1,  #aaa);
    z-index:2;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.mycalendar-small em:before {
    left:9px;
}

.mycalendar-small em:after {
    right:9px;
}

#loadingScreen {
    display: block;
    margin: auto;
    padding: 5px;
    width: 100%;
}

.loading-stuff {
    display: block;
    margin: auto;
    padding: 10px;
    width: 300px;
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    margin: -12px 0 0 -12px;
}
//Reusing bootstrap 3 panel CSS
.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}   

.panel-primary {
    border-color: #0d1b72;
}   

.panel-primary > .panel-heading {
    color: #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #0d1b72; /* Old browsers */
    background: -moz-linear-gradient(top,  #0d1b72 0%, #207cca 65%, #2989d8 71%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d1b72), color-stop(65%,#207cca), color-stop(71%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1b72', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    background-color: #0d1b72;
    border-color: #0d1b72;
    color: #FFFFFF;
}   

.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}   

.panel-title {
    font-size: 1.75em;
    margin-bottom: 0;
    margin-top: 0;
}   

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}   

.panel-body:after {
    clear: both;
}   

.panel-body {
    padding: 15px;
}   

.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 10px 15px;
}

//CSS from v3 snipp
.info-row {
    margin-bottom: 14px;
}

.info-row:last-child {
    margin-bottom: 0;
}

.dropdown-info {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-info:hover {
    cursor: pointer;
}

.table-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-information > tbody > tr:first-child {
    border-top: 0;
}


.table-information > tbody > tr > td {
    border-top: 0;
}

.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

#searchResults ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  margin: 0;
  overflow: auto;
}
 
#searchResults ul.my-search-results h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
#searchResults ul.my-search-results > li img {
  float: left;
  margin: 0 20px 0 0;
}
 
#searchResults ul.my-search-results > li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
#searchResults ul.my-search-results > li {
  padding: 5px;
  max-height: 40%;
  overflow: auto;
}
 
#searchResults ul.my-search-results > li:hover {
  background: #eee;
  cursor: pointer;
}

.google-map-canvas img {
    max-width: none;
    max-height: none;
}

.google-map-canvas label {
    width: auto;
    display: inline;
}

