body {
    padding-top: 60px;
}

#page {
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 0px solid #C9E0ED;
}

.sectionHeader
{
    padding: 10px;
    font-size: 2.0em;
    font-weight: bold;
    color: #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #0d1b72; /* Old browsers */
    background: -moz-linear-gradient(top,  #0d1b72 0%, #207cca 65%, #2989d8 71%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d1b72), color-stop(65%,#207cca), color-stop(71%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1b72', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.sectionSubHeader
{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    font-size: 1.75em;
    font-weight: bold;
    color: #0d1b72;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #ffffff; /* Old browsers */
}

.sectionSubHeaderContent
{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    font-size: 1.0em;
    font-weight: normal;
    color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #ffffff; /* Old browsers */
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 1.5em;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border-bottom: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #ffffff;
//	border-left: 5px solid #e5e5e5;
}

.portlet-title
{
	font-size: 1em;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #333333;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#ffffff;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
//	border-left: 5px solid #f9f9f9;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #000000;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #050505;
}

.operations li a:hover
{
	background: #f5f5f5;
}

.bs-docs-sidenav {
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
//    -webkit-border-radius: 6px;
//    -moz-border-radius: 6px;
//    border-radius: 6px;
//    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
//    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
//    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.bs-docs-sidenav > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}

.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}

.bs-docs-sidenav.affix {
    top: 100px;
}

.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

/* Pure CSS Calendar Icon */

.calendar {
    font-family: Helvetica, Arial;
    width: 56px; font-size: 1.0em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #05587e;
    -webkit-box-shadow: 0 0 5px #05587e;
    box-shadow: 0 0 5px #05587e;
}

.calendar > span {
    display: block;
}

.calendar > .month {
    text-align: center;
    padding: 2px 5px 2px 0;
    font-size: 1.25em;
    color: #fff;
    font-weight: bold;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    text-shadow: 0 1px #000;
    background: #0d1b72; /* Old browsers */
    background: -moz-linear-gradient(top,  #0d1b72 0%, #207cca 65%, #2989d8 71%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d1b72), color-stop(65%,#207cca), color-stop(71%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0d1b72 0%,#207cca 65%,#2989d8 71%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1b72', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.calendar > .day {
    text-align: center;
    font-weight: bold;
    font-size: 2.25em;
    line-height: 1.0;
    background: #fff;
    -webkit-border-bottom-left-radius:  5px;
    -moz-border-radius-bottomleft:      5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright:     5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#405b72), to(#e6e6e6), color-stop(.08,#f9f9f9));
    background: -moz-linear-gradient(top, #f9f9f9, #e6e6e6);
}

/* Pure CSS Calendar Icon */

.calendar-large {
    margin:.25em 10px 10px 0;
    padding-top:5px;
    float:left;
    width:80px;
    background:#ededef;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
    background: -moz-linear-gradient(top,  #ededef,  #ccc);
    font:bold 30px/60px Arial Black, Arial, Helvetica, sans-serif;
    text-align:center;
    color:#000;
    text-shadow:#fff 0 1px 0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    position:relative;
    -moz-box-shadow:0 2px 2px #888;
    -webkit-box-shadow:0 2px 2px #888;
    box-shadow:0 2px 2px #888;
}

.calendar-large em {
    display:block;
    font:normal bold 11px/30px Arial, Helvetica, sans-serif;
    color:#fff;
    text-shadow:#00365a 0 -1px 0;
    background:#04599a;
    background:-webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
    background:-moz-linear-gradient(top,  #04599a,  #00365a);
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top:1px solid #00365a;
}

.calendar-large:before, .calendar-large:after {
    content:'';
    float:left;
    position:absolute;
    top:5px;	
    width:8px;
    height:8px;
    background:#111;
    z-index:1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:0 1px 1px #fff;
    -webkit-box-shadow:0 1px 1px #fff;
    box-shadow:0 1px 1px #fff;
}

.calendar-large:before {
    left:11px;
}

.calendar-large:after {
    right:11px;
}

.calendar-large em:before, .calendar-large em:after {
    content:'';
    float:left;
    position:absolute;
    top:-5px;	
    width:4px;
    height:14px;
    background:#dadada;
    background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
    background:-moz-linear-gradient(top,  #f1f1f1,  #aaa);
    z-index:2;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.calendar-large em:before {
    left:13px;
}

.calendar-large em:after {
    right:13px;
}

/* Pure CSS Calendar Icon */

.calendar-small {
    margin:.25em 10px 10px 0;
    padding-top:5px;
    float:left;
    width:50px;
    background:#ededef;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
    background: -moz-linear-gradient(top,  #ededef,  #ccc);
    font:bold 20px/40px Arial Black, Arial, Helvetica, sans-serif;
    text-align:center;
    color:#000;
    text-shadow:#fff 0 1px 0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    position:relative;
    -moz-box-shadow:0 2px 2px #888;
    -webkit-box-shadow:0 2px 2px #888;
    box-shadow:0 2px 2px #888;
}

.calendar-small em {
    display:block;
    font:normal bold 11px/20px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color:#fff;
    text-shadow:#00365a 0 -1px 0;
    background:#04599a;
    background:-webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
    background:-moz-linear-gradient(top,  #04599a,  #00365a);
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top:1px solid #00365a;
}

.calendar-small:before, .calendar-small:after {
    content:'';
    float:left;
    position:absolute;
    top:4px;
    width:6px;
    height:6px;
    background:#111;
    z-index:1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:0 1px 1px #fff;
    -webkit-box-shadow:0 1px 1px #fff;
    box-shadow:0 1px 1px #fff;
}
        
.calendar-small:before {
    left:7px;
}

.calendar-small:after {
    right:7px;
}

.calendar-small em:before, .calendar-small em:after {
    content:'';
    float:left;
    position:absolute;
    top:-3px;
    width:2px;
    height:10px;
    background:#dadada;
    background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
    background:-moz-linear-gradient(top,  #f1f1f1,  #aaa);
    z-index:2;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.calendar-small em:before {
    left:9px;
}

.calendar-small em:after {
    right:9px;
}

#loading {
    margin: auto;
    padding: 5px;
    width: 100px;
}